<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>

<body>

    <footer>
   <section class="bg-[#F0F6F9] w-full h-[379px] max-md:h-auto max-md:pb-7">
            <section class="flex w-[95%] justify-between  gap-6 m-auto 
            max-md:flex-col max-md:gap-3  max-md:justify-baseline">

                <div><img src="../img/footer-img/logo.svg" alt=""></div>
    
                <div class="font-[700] flex justify-between items-center w-[80%] text-[#4F4F4F] max-md:flex-col max-md:gap-3 max-md:w-[99%] max-md:items-stretch max-md:m-auto max-md:px-3">
    
                    <p class="hover:text-[#F25A2A] ">Направления</p>
                    <p class="hover:text-[#F25A2A] ">Услуги</p>
                    <p class="hover:text-[#F25A2A] ">Врачи</p>
                    <p class="hover:text-[#F25A2A] ">Отзывы</p>
                    <p class="hover:text-[#F25A2A] ">Акции</p>
                    <select class="w-[100px] hover:text-[#F25A2A] outline-none max-md:items-start">
                        <option>
                            О центре
                        </option>
                        <option>
                            dushanbe
                        </option>
                    </select>
                    <p class="hover:text-[#F25A2A]">Детство</p>
                    <p class="hover:text-[#F25A2A]">Контакты</p>
    
                </div>
    
    
            </section>
    
            <section class="flex w-[95%]  justify-between m-auto mt-10 max-md:flex-col max-md:w-[90%] max-md:gap-4">

                <div class="flex  justify-between w-[900px] max-md:w-[90%] max-md:flex-col-reverse">
                    <p class="text-[16px] text-[#4F4F4F] w-[305px] max-md:mt-2 max-md:hidden">© 2011-2023 Городской Медицинский Центр. Все права
                        защищены.</p>
                    <div>
                        <p class="text-[#00578A] text-[48px] font-[700] max-md:text-[28px]">8 (495) 926-06-03</p>
                        <p class="text-[#00578A] text-[48px] font-[700] max-md:text-[28px]">8 (495) 926-06-03</p>
                    </div>
                </div>
                <div class="flex w-[605px] justify-between max-md:flex-col max-md:w-[90%]">
                    <div class="flex flex-col gap-2:">
                        <p class="text-[16px] text-[#4F4F4F]">г. Мытищи, ул.Рождественская, д.7</p>
                        <p class="text-[16px] text-[#4F4F4F]">Ежедневно с 9.00 до 21.00</p>
                    </div>
                    <div>
                        <button class="btn2 w-[272px] h-[54px] text-[#4F4F4F] max-md:mt-2 max-md:w-[100%]">Заказать обратный звонок</button>
                    </div>
                </div>
    
            </section>
    
            <section class="flex w-[95%] justify-between items-end gap-6 m-auto max-md:flex-col max-md:items-stretch max-md:justify-stretch max-md:w-[95%]">
    
                <div class="flex w-[705px] justify-between max-md:flex-col max-md:w-[90%]">
                    <div class="flex flex-col gap-2 ">
                        <p class="text-[16px] text-[#7F8D94] underline underline-offset-5 max-md:hidden">Политика конфиденциальности</p>
                    </div>
                    <div class="flex items-center gap-3 max-md:hidden">
    
                        <img class="w-[26px]" src="../img/footer-img/social.png" alt="">
                        <p class="text-[#4F4F4F] text-[16px]">Написать в Whatsapp</p>
    
                    </div>
                </div>

                <div class="hidden max-md:block max-md:flex max-md:gap-4 w-[95%] max-md:m-auto">
                     <div class="flex  items-center gap-3">
    
                        <img class="w-[26px]" src="../img/footer-img/social.png" alt="">
                        <p class="text-[#4F4F4F] text-[16px]  hidden max-md:block">Написать в Whatsapp</p>
    
                    </div>
                    <div class="flex items-center gap-3  ">
    
                        <img src="../img/footer-img/social (1).png" alt="">
                        <p class="text-[#4F4F4F] text-[16px]">Vkontakte</p>
    
                    </div>
                </div>
                <div class="flex w-[605px] justify-between items-end max-md:w-[90%]">
                     <div class="flex items-center gap-3 max-md:hidden">
    
                        <img src="../img/footer-img/social (1).png" alt="">
                        <p class="text-[#4F4F4F] text-[16px]">Vkontakte</p>
    
                    </div>
                    <div class="flex flex-col items-end gap-3 max-md:items-stretch max-md:w-[96%] max-md:m-auto">
    
                        <p>info@gormedcentre.ru</p>
                    <div class="flex gap-2 items-center"> <img src="../img/footer-img/icon.png" alt="">    <p>Версия для слабовидящих</p></div>
    
                    </div>
                   
                </div>
                 <div class="flex flex-col gap-2 ">
                     <p class="text-[16px] hidden text-[#4F4F4F] w-[305px] max-md:mt-2 max-md:block">© 2011-2023 Городской Медицинский Центр. Все права защищены.</p>
                        <p class="text-[16px]  hidden text-[#4F4F4F] underline underline-offset-5 max-md:block">Политика конфиденциальности</p>
                    </div>
            </section>
   </section>
   <section class=" w-[95%] m-auto mt-5">
    <p class="text-[#000000] text-[14px] ">Информация о ценах носит уведомительный характер и не является публичной офертой. Действующий прейскурант, заверенный печатью и подписью руководителя, находится на информационных стендах Центра. Деятельность ООО «ГМЦ» осуществляется на основании действующей лицензии, выданной Департаментом здравоохранения города Москвы.
<br> <br>
        Имеются противопоказания. Необходимо проконсультироваться со специалистом</p>
   </section>
    </footer>

</body>

</html>