<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>

<body>

    <header>
        <section class="w-[95%] m-auto justify-between flex mt-4 items-center hover:cursor-pointer max-md:w-[90%]">
            <div>
                <img class="max-md:w-[148px]" src="../img/header-img/logo.svg" alt="">
            </div>
            <div class="flex flex-col gap-0.5c max-md:hidden">
                <p class="text-[#00578A] text-[18px] font-[700]">8 (495) 926-06-03</p>
                <div class="flex gap-2 items-center">
                    <img src="../img/header-img/social.png" alt="">
                    <p class="text-[14px] text-[#4F4F4F] hover:text-[#F25A2A]">Whatsapp</p>
                </div>
            </div>

            <div class="flex flex-col gap-0.5 text-[14px] text-[#4F4F4F] max-md:hidden">
                <p class="hover:text-[#F25A2A]">info@gormedcentre.ru</p>
                <p class="underline hover:text-[#F25A2A]">Заказать звонок</p>
            </div>
         
            <div class="flex flex-col gap-0.5 text-[14px] text-[#4F4F4F] max-md:hidden">
                <p class="hover:text-[#F25A2A]">г. Мытищи</p>
                <p class="hover:text-[#F25A2A]" >ул.Рождественская, д.7</p>
            </div>
            
               <div class="flex flex-col gap-0.5 text-[14px] text-[#4F4F4F] max-md:hidden">
                <p class="hover:text-[#F25A2A]">Ежедневно</p>
                <p class="hover:text-[#F25A2A]">с 9.00 до 21.00</p>
            </div>
            <div class="flex gap-5 max-md:hidden">
                <div class="flex items-center justify-center w-[54px] h-[46px] bg-[#00C6BF] rounded-[5px] hover:bg-amber-300">
                    <img src="../img/header-img/zoom-search.png" alt="">
                </div>
                <button class="btn2 w-[196px] h-[46px] hover: ">Личный кабинет</button>
            </div>
            <div class="hidden max-md:block max-md:flex max-md:gap-3">
                <img src="../img/header-img/call.png" alt="">
                <img src="../img/header-img/burger.png" alt="">
            </div>


        </section>

        <section class="w-[95%] m-auto justify-between flex mt-4 items-center hover:cursor-pointer mt-5 max-md:hidden">
            <div class="font-[700] flex gap-25 items-center ">
                <select class="w-[134px] outline-none hover:text-[#F25A2A]">
                    <option>
                        Направления
                    </option>
                    <option>
                        soft club
                    </option>
                </select>
                <p class="hover:text-[#F25A2A]">Услуги</p>
                <p class="hover:text-[#F25A2A]">Врачи</p>
                <p class="hover:text-[#F25A2A]">Отзывы</p>
                <p class="hover:text-[#F25A2A]">Акции</p>
                 <select class="w-[100px] hover:text-[#F25A2A] outline-none">
                    <optio>
                        О центре
                    </optio>
                    <option >
                        dushanbe
                    </option>
                </select>
                <p class="hover:text-[#F25A2A]">Детство</p>
                <p class="hover:text-[#F25A2A]">Контакты</p>
            </div>
            <div class="flex gap-1 items-center">
                <img src="../img/header-img/icon.png" alt="">
                <p  class="hover:text-[#F25A2A]">Версия для слабовидящих</p>
            </div>
            <button class="btn w-[196px] h-[46px]">Запись на приём</button>

        </section>
    </header>

</body>

</html>