<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>
<body>
    <section class="w-[90%] p-[50px_5%] h-[415px] rounded-[10px] m-auto bg-gradient-to-l from-[#0074B8] to-[#02B0C5] text-white">
        <div class="flex items-center gap-[300px]">
            <p class="text-[48px] font-bold">Записаться на приём</p>
            <p class="text-[#ffffffdc]">Оставьте заявку и мы свяжемся <br> с вами в ближайшее время</p>
        </div>
        <div class="mt-[50px]">
            <div class="flex gap-[20px]">
                <select class="border-none bg-white w-[360px] p-[18px_30px] text-black font-semibold rounded-[5px]">
                    <option value="">Выберете направление</option>
                </select>
                <input class="border-none bg-white w-[360px] p-[16px_30px] text-black rounded-[5px]" placeholder="Ваше имя" type="text">
                <button class="border-none bg-[#00C6BF] w-[360px] p-[20px] text-center rounded-[5px]">Оставить заявку</button>
            </div>
            <div class="flex gap-[20px] mt-[20px]">
                <select class="border-none bg-white w-[360px] p-[15px_30px] text-black font-semibold rounded-[5px]">
                    <option value="">Выберете врача</option>
                </select>
                <input class="border-none bg-white w-[360px] p-[20px_30px] text-black rounded-[5px]" placeholder="Ваш телефон" type="text">
                <div class="flex gap-[10px] items-start">
                    <input class="mt-[5px]" type="checkbox">
                    <p class="text-[#ffffffdc]">Отправляя заявку, вы соглашаетесь на нашу <br> <span class="border-b-[1px] border-b-[solid] border-b-[#ffffffdc]"> политику конфиденциальности</span></p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>