<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>
<body>
    <section class="w-[95%] p-[50px_5%] h-[415px] rounded-[10px] m-auto bg-gradient-to-l from-[#0074B8] to-[#02B0C5] text-white max-md:h-auto">
        <div class="flex items-center  justify-between w-[90%] max-md:flex-col">
            <p class="text-[48px] font-bold  max-md:text-[34px]">Записаться на приём</p>
            <p class="text-[#ffffffdc] text-[24px] max-md:text-[20px] max-md:w-[300px] max-md:m-auto">Оставьте заявку и мы свяжемся <br> с вами в ближайшее время</p>
        </div>
       <section class="flex justify-between mt-[50px] w-[95%] items-center max-md:w-[100%] max-md:flex-col">
            <div class="  justify-between w-full">
                <div class="flex gap-[20px] justify-between w-[95%]  max-md:flex-col  max-md:w-[100%]">
                    <select class="border-none bg-white w-[460px] h-[80px] p-[18px_30px] text-black font-semibold rounded-[5px]  max-md:w-[100%]">
                        <option value="">Выберете направление</option>
                    </select>
                    <input class="border-none bg-white w-[460px] p-[16px_30px] text-black rounded-[5px] max-md:hidden " placeholder="Ваше имя" type="text">
                </div>
    
                <div class="flex gap-[20px] mt-[20px] justify-between  w-[95%]  max-md:flex-col max-md:w-[100%]">
                    <select class="border-none bg-white w-[460px] h-[80px] p-[15px_30px] text-black font-semibold rounded-[5px] max-md:w-[100%]">
                        <option value="">Выберете врача</option>
                    </select>
                    <input class="border-none bg-white w-[460px] h-[80px] hidden max-md:block p-[16px_30px] text-black rounded-[5px] max-md:w-[100%]" placeholder="Ваше имя" type="text">
                    <input class="border-none bg-white w-[460px] h-[80px]  p-[20px_30px] text-black rounded-[5px] max-md:w-[100%]" placeholder="Ваш телефон" type="text">  
                </div>
            </div>
                           <div class=" flex flex-col gap-10 max-md:w-[100%] mt-5 max-md:mt-0">
                                <button class="border-none bg-[#00C6BF] w-[460px] h-[80px] p-[20px] text-center rounded-[5px] max-md:w-[100%] max-md:h-[70px]  max-md:mt-5">Оставить заявку</button>
                                  <label class="flex gap-[10px] items-start w-[460px] max-md:w-[100%]">
                                <input class="mt-[5px]" type="checkbox">
                                <p class="text-[#ffffffdc] w-[338px] h-[80px] max-md:w-full max-md:text-[14px]">Отправляя заявку, вы соглашаетесь на нашу  <span class="border-b-[1px] border-b-[solid] border-b-[#ffffffdc]"> политику конфиденциальности</span></p>
                            </label>
                           </div>
       </section>

    </section>
</body>
</html>