<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>
<body>
    <section class="mt-[100px]">
        <p class="text-[48px] font-bold w-[95%] m-auto max-md:w-[95%]">Как нас найти</p>
        <img class="mt-[30px] rounded-[20px] w-[95%] m-auto max-md:hidden" src="../img/sunatullo/map (1).png" alt="">
        <img src="../img/acsii/map.png" alt="" class="mt-[30px] rounded-[10px] w-[95%] m-auto md:hidden">
    </section>
</body>
</html>