<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>
<body>
    
    <section class="w-[95%] m-auto flex justify-between items-center max-md:flex-wrap max-md:gap-[30px] ">
        <div class="w-[23%] h-[446px] bg-[#F0F6F9] rounded-[5px] max-md:w-[100%] p-[25px]">
            <p class="text-[22px] font-[700] text-[#141414]">Направления</p>
            <hr class="mt-[25px] bg-[#C6D9E2] h-[2px] text-[#C6D9E2]">
            <p class="text-[18px] font-normal text-[#141414] mt-[20px]">Акушерство</p>
            <p class="text-[18px] font-normal text-[#141414] mt-[15px]">Косметология</p>
            <p class="text-[18px] font-normal text-[#141414] mt-[15px]">Хирургия</p>
            <p class="text-[18px] font-normal text-[#141414] mt-[15px]">Мануальная</p>
            <p class="text-[18px] font-normal text-[#141414] mt-[15px]">Психотерапия</p>
            <button class="btn w-[100%] h-[54px] mt-[40px]">Все услуги</button>
        </div>
         <div class="w-[23%] h-[446px] bg-[#F0F6F9] rounded-[5px] max-md:w-[100%] p-[25px]">
            <p class="text-[22px] font-[700] text-[#141414]">Диагностика</p>
            <hr class="mt-[25px] bg-[#C6D9E2] h-[2px] text-[#C6D9E2]">
            <p class="text-[18px] font-normal text-[#141414] mt-[20px]">МРТ</p>
            <p class="text-[18px] font-normal text-[#141414] mt-[15px]">КТ</p>
            <p class="text-[18px] font-normal text-[#141414] mt-[15px]">УЗИ</p>
            <p class="text-[18px] font-normal text-[#141414] mt-[15px]">Рентген</p>
            <p class="text-[18px] font-normal text-[#141414] mt-[15px]">Вся диагностика</p>
            <button class="btn w-[100%] h-[54px] mt-[40px]">Вся диагностика</button>
        </div>
         <div class="w-[23%] h-[446px] bg-[#F0F6F9] rounded-[5px] max-md:w-[100%] p-[25px]">
            <p class="text-[22px] font-[700] text-[#141414]">Врачи</p>
            <hr class="mt-[25px] bg-[#C6D9E2] h-[2px] text-[#C6D9E2]">
            <p class="text-[18px] font-normal text-[#141414] mt-[20px]">Стоматолог</p>
            <p class="text-[18px] font-normal text-[#141414] mt-[15px]">Эндокринолог</p>
            <p class="text-[18px] font-normal text-[#141414] mt-[15px]">Хирург</p>
            <p class="text-[18px] font-normal text-[#141414] mt-[15px]">Терапевт</p>
            <p class="text-[18px] font-normal text-[#141414] mt-[15px]">Невролог</p>
            <button class="btn w-[100%] h-[54px] mt-[40px]">Все врачи</button>
        </div>
         <div class="w-[23%] h-[446px] bg-[#F0F6F9] rounded-[5px] max-md:w-[100%] p-[25px]">
            <p class="text-[22px] font-[700] text-[#141414]">Детство</p>
            <hr class="mt-[25px] bg-[#C6D9E2] h-[2px] text-[#C6D9E2]">
            <p class="text-[18px] font-normal text-[#141414] mt-[20px]">Педиатр</p>
            <p class="text-[18px] font-normal text-[#141414] mt-[15px]">Стоматолог</p>
            <p class="text-[18px] font-normal text-[#141414] mt-[15px]">Дерматолог</p>
            <p class="text-[18px] font-normal text-[#141414] mt-[15px]">Офтальмолог</p>
            <p class="text-[18px] font-normal text-[#141414] mt-[15px]">Логопед</p>
            <button class="btn w-[100%] h-[54px] mt-[40px]">Все услуги</button>
        </div>
    </section>
        
</body>
</html>