<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>

<body>
    <div class="container">

        <section class="mt-[50px]">
            <div class="flex items-center justify-between max-md:flex-wrap ">
                <p class="text-[40px]">Отзывы пациентов</p>
                <div class="flex items-center gap-[10px] ">
                    <img src="../img/Zafar-page/back.png" alt="">
                    <img src="../img/Zafar-page/forward.png" alt="">
                </div>
            </div>
            <div class="flex justify-between">
                
                <div class="w-[43%] mt-[40px] max-md:w-[90%]">
                    <p class="text-black">Балушина Татьяна</p>
                    <p class="mt-[10px]">18 апреля 2022</p>
            <img class="mt-[20px]" src="../img/Zafar-page/Stars.png" alt="">
            <p class="mt-[10px]">Попала к Татьяне Ивановне спонтанно. Очень довольна приёмом и проведением
                ультразвуковой диагностики.
                Спасибо Наталье Ивановне за внимательное отношение к пациентам! При возникнвении проблем теперь только к
                ней!</p>
                <button
                class="border-[1px] border-solid border-[#017CC1] p-[10px] w-[200px] rounded-[5px] text-[#017CC1]  mt-[30px]">Подробнее</button>
                <p class="mt-[20px]">Врач: <span class="text-[#017CC1]"> Савина Наталья Владимировна</span></p>
            </div>
            <div class="w-[43%] mt-[40px] max-md:hidden">
                <p class="text-black">Балушина Татьяна</p>
                <p class="mt-[10px]">18 апреля 2022</p>
                <img class="mt-[20px]" src="../img/Zafar-page/Stars.png" alt="">
                <p class="mt-[10px]">Попала к Татьяне Ивановне спонтанно. Очень довольна приёмом и проведением
                    ультразвуковой диагностики.
                    Спасибо Наталье Ивановне за внимательное отношение к пациентам! При возникнвении проблем теперь только к
                    ней!</p>
                    <button
                    class="border-[1px] border-solid border-[#017CC1] p-[10px] w-[200px] rounded-[5px] text-[#017CC1]  mt-[30px]">Подробнее</button>
                    <p class="mt-[20px]">Врач: <span class="text-[#017CC1]"> Савина Наталья Владимировна</span></p>
                </div>
                
                
            </div>
            
            
            
            
            
            
        </section>
    </div>
</body>

</html>