<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>
<body>
    <main>
        <section class="w-[95%] m-auto">
            <div class="flex items-center justify-between">
                <p class="text-[48px] font-[700] text-[#141414] max-md:text-[34px]">Популярные услуги</p>
                <div class="flex gap-[10px] items-center max-md:hidden"><img src="../img/populyarniye-uslugi/back.png" alt=""> <img src="../img/populyarniye-uslugi/forward.png" alt=""></div>
            </div>

            <div class="grid grid-cols-4 grid-rows-1 gap-[20px] mt-[30px] max-md:overflow-x-auto max-md:flex">
                <div class="max-md:w-[300px] max-md:shrink-0">
                    <div><img src="../img/populyarniye-uslugi/image (24).png" alt="" class="w-[100%]"></div>
                    <div class="rounded-[5px] p-[30px_40px] bg-[#F0F6F9] flex flex-col gap-[30px]">
                        <p class="text-[#141414] text-[20px] font-[500] leading-7">Магнитно-резонансная томография (МРТ)</p>
                        <button class="w-[100%] p-[15px_0px] font-[600] rounded-[5px] text-center bg-[#00578A] text-[#FFFFFF]">Записаться</button>
                    </div>
                </div>
                <div class="max-md:w-[300px] max-md:shrink-0">
                    <div><img src="../img/populyarniye-uslugi/image (24).png" alt="" class="w-[100%]"></div>
                    <div class="rounded-[5px] p-[30px_40px] bg-[#F0F6F9] flex flex-col gap-[30px]">
                        <p class="text-[#141414] text-[20px] font-[500] leading-7">Магнитно-резонансная томография (МРТ)</p>
                        <button class="w-[100%] p-[15px_0px] font-[600] rounded-[5px] text-center bg-[#00578A] text-[#FFFFFF]">Записаться</button>
                    </div>
                </div>
                <div class="max-md:w-[300px] max-md:shrink-0">
                    <div><img src="../img/populyarniye-uslugi/image (24).png" alt="" class="w-[100%]"></div>
                    <div class="rounded-[5px] p-[30px_40px] bg-[#F0F6F9] flex flex-col gap-[30px]">
                        <p class="text-[#141414] text-[20px] font-[500] leading-7">Магнитно-резонансная томография (МРТ)</p>
                        <button class="w-[100%] p-[15px_0px] font-[600] rounded-[5px] text-center bg-[#00578A] text-[#FFFFFF]">Записаться</button>
                    </div>
                </div>
                <div class="max-md:w-[300px] max-md:shrink-0">
                    <div><img src="../img/populyarniye-uslugi/image (24).png" alt="" class="w-[100%]"></div>
                    <div class="rounded-[5px] p-[30px_40px] bg-[#F0F6F9] flex flex-col gap-[30px]">
                        <p class="text-[#141414] text-[20px] font-[500] leading-7">Магнитно-резонансная томография (МРТ)</p>
                        <button class="w-[100%] p-[15px_0px] font-[600] rounded-[5px] text-center bg-[#00578A] text-[#FFFFFF]">Записаться</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>