<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>
<body>
    
    <main>
        <section class="w-[95%] m-auto">
            <div class="flex items-center justify-between">
                <p class="text-[48px] font-[700] text-[#141414] max-md:text-[34px]">Врачи</p>
                <div class="flex gap-[10px] items-center max-md:hidden"><img src="../img/populyarniye-uslugi/back.png" alt=""> <img src="../img/populyarniye-uslugi/forward.png" alt=""></div>
            </div>

            <div class="grid grid-cols-4 grid-rows-1 gap-[20px] mt-[30px] max-md:overflow-x-auto max-md:flex">
                <div class="max-md:w-[330px] shrink-0">
                    <div><img src="../img/acsii/photo (9).png" alt="" class="w-full"></div>
                    <div class="flex flex-col gap-[10px] mt-[20px]">
                        <p class="text-[22px] text-[#017CC1] font-[700]">Крятов Андрей</p>
                        <p class="text-[17.5px] text-[#141414] leading-7">Главный врач, уролог, андролог</p>
                        <button class="text-[16px] font-[700] text-[#FFFFFF] bg-[#00578A] text-center p-[15px_0px] w-full">Записаться</button>
                    </div>
                </div>
                <div class="max-md:w-[330px] shrink-0">
                    <div><img src="../img/acsii/photo (9).png" alt="" class="w-full"></div>
                    <div class="flex flex-col gap-[10px] mt-[20px]">
                        <p class="text-[22px] text-[#017CC1] font-[700]">Крятов Андрей</p>
                        <p class="text-[17.5px] text-[#141414] leading-7">Главный врач, уролог, андролог</p>
                        <button class="text-[16px] font-[700] text-[#FFFFFF] bg-[#00578A] text-center p-[15px_0px] w-full">Записаться</button>
                    </div>
                </div>
                <div class="max-md:w-[330px] shrink-0">
                    <div><img src="../img/acsii/photo (9).png" alt="" class="w-full"></div>
                    <div class="flex flex-col gap-[10px] mt-[20px]">
                        <p class="text-[22px] text-[#017CC1] font-[700]">Крятов Андрей</p>
                        <p class="text-[17.5px] text-[#141414] leading-7">Главный врач, уролог, андролог</p>
                        <button class="text-[16px] font-[700] text-[#FFFFFF] bg-[#00578A] text-center p-[15px_0px] w-full">Записаться</button>
                    </div>
                </div>
                <div class="max-md:w-[330px] shrink-0">
                    <div><img src="../img/acsii/photo (9).png" alt="" class="w-full"></div>
                    <div class="flex flex-col gap-[10px] mt-[20px]">
                        <p class="text-[22px] text-[#017CC1] font-[700]">Крятов Андрей</p>
                        <p class="text-[17.5px] text-[#141414] leading-7">Главный врач, уролог, андролог</p>
                        <button class="text-[16px] font-[700] text-[#FFFFFF] bg-[#00578A] text-center p-[15px_0px] w-full">Записаться</button>
                    </div>
                </div>
            </div>
        </section>
    </main>


</body>
</html>